.cardContainer {
    height: 80vh;
    width: 90vw;
    display: flex;

    align-items: center;

    justify-content: center;

    position: sticky;

    top: 0px;
    padding: 40px;
    box-sizing: border-box;
}

.card {
  width: 100%;
  height: 100%;
    display: flex;

    flex-direction: column;

    position: relative;

    

    border-radius: 25px;

    padding: 50px;

    transform-origin: top;
  }
  .card .img{
  box-shadow: 1px 1px 55px 5px rgba(0, 238, 255, 0.356);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 1000px) {
    .card{
      width: 500px;
    }
    
  }
  @media (max-width: 600px) {
    .card{
      width: 98%;
      padding: 4px;
    }
    .cardContainer{
      padding: 20px 0px;
    }
    
  }
  @media (max-width: 400px) {
    .card{
      width: 98%;
      padding: 4px;
    }
    
  }

.card h2 {

    text-align: center;

    margin: 0px;

    font-size: 28px;

}




.description {

    width: 40%;

    position: relative;

    top: 10%;
}

.description p {

    font-size: 16px;
}

.description p::first-letter {

    font-size: 28px;

    font-family: 'Title';

}



.description span {

    display: flex;

    align-items: center;

    gap: 5px;
}

.description  a {

    font-size: 12px;

    text-decoration: underline;

    cursor: pointer;

}





.imageContainer {

    position: relative;

    width: 60%;

    height: 100%;

    border-radius: 25px;

    overflow: hidden;
}

.imageContainer .inner {

    width: 100%;

    height: 100%;

}

